<!-- EXPLICITLY TELLING TO ACT AS ANGULAR FORM  -->
<!-- PERFORMING EVENT CALLED ANGULAR SUBMIT -->
<form #userform = "ngForm" (ngSubmit)="fun(userform.value)">
  <!--following string interpolation -->
  {{userform.value | json}} <!--using pipe operator-->
  <div>
    <label >USERNAME : </label>
    <!-- using of class of bootstrap i.e form-control --> 
    <!--two way binding by using ngModel -->
    <input type="text" name="username" class="form-control" [(ngModel)]="name1" #username="ngModel" required
    [class.is-invalid]="username.touched && username.invalid" pattern="^[a-zA-Z0-9_-]{3,16}$"><!--when touched and return back it displays in red-->
    <!-- when mutiple usage of classes you have to declare in the above format -->

    <!-- showing the error message to user -->
    <div *ngIf = "username.touched && username.invalid"> <!--Used Angularif called structural directives-->
        <small class="text-danger">Invalid Username. Please Try Again.</small>
    </div>
  </div>
  <!-- PERFOROMING TEXT VALIDATION -->
  <!--  USING NGMODEL PROPERTIES-->
  touched = {{username.touched}},
  untouched = {{username.untouched}},
  valid = {{username.valid}},
  invalid = {{username.invalid}},
  pristine = {{username.pristine}},
  dirty = {{username.dirty}}
  <div>
    <label >PHONE : </label>
    <input type="text" name="phone" class="form-control" [(ngModel)]="phone1" #phone="ngModel" required
    [class.is-invalid]="phone.touched && phone.invalid" pattern="[7-9]{1}[0-9]{9}">

    <!-- showing the error message to user -->
    <div *ngIf = "phone.touched && phone.invalid">
      <small class="text-danger">Invalid Phone Number. Please Try Again.</small>
  </div>
  </div>
  touched = {{phone.touched}},
  untouched = {{phone.untouched}},
  valid = {{phone.valid}},
  invalid = {{phone.invalid}},
  pristine = {{phone.pristine}},
  dirty = {{phone.dirty}}
  <div>
    <label >EMAIL : </label>
    <input type="text" name="email" class="form-control" [(ngModel)]="email1" #email="ngModel" required
    [class.is-invalid]="email.touched && email.invalid" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}">
    
    <!-- showing the error message to user -->
    <div *ngIf = "email.touched && email.invalid">
      <small class="text-danger">Invalid Email Address. Please Try Again.</small>
  </div>
  </div>
  touched = {{email.touched}},
  untouched = {{email.untouched}},
  valid = {{email.valid}},
  invalid = {{email.invalid}},
  pristine = {{email.pristine}},
  dirty = {{email.dirty}}


  <!-- Class - name for buttons in bootstrap primary:blue success:green danger:red -->
  <br>
  <input type="submit" value="SUBMIT" class="btn btn-primary">
</form>
<!-- Class - name for buttons in bootstrap 
  primary:blue success:green danger:red -->